<div class="wrapper">
<h1>About</h1>
<h2 style="color:#00b0ff;">What is tabletoffersuk.co.uk?</h2>
<p> laptopoffersuk.co.uk grabs all the latest offers from the biggest retailers so you don't have to search for a bargain.</p>
<h2 style="color:#00b0ff;">How is it different from a price comparison site?</h2>
<p> We only display the latest hot offers. If you're sick of price comparision sites bringing back poor results then this is the site for you. Everything has more than a 25% reduction. We only show you the biggest savings. No accessories or adverts. </p>
</div>
