<div class="wrapper">
<h1>Help & FAQ</h1>
<h2 style="color:#00b0ff;">Why is the price different on the retailer's website?</h2>
<p> Although we update the offers frequently, from time to time the retailer's price can be different if it was updated recently. On really good offers the price will change so make sure you get the deal before the retailer realises and puts it up!</p>
<h2 style="color:#00b0ff;">I have a problem with the product I bought. What can I do?</h2>
<p> Please contact the retailer you bought the product from and they will be able to assist you.</p>
<h2 style="color:#00b0ff;">I have a question/feedback about this site. Who can I contact?</h2>
<p> Please visit our <%= link_to 'contact page', contact_path %></p>
</div>